body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.profile-container {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-section {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

#avatarPreview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2563eb;
    transition: 0.3s;
}

#avatarPreview:hover {
    opacity: 0.7;
}

.field-section {
    margin-bottom: 15px;
    position: relative;
}

.field-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.field-section span {
    display: inline-block;
    padding: 6px 0;
}

.field-section input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

#editInfoBtn {
    background: #9ca3af; /* xám */
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

#editInfoBtn:hover {
    background: #6b7280;
}

#saveBtn {
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

#saveBtn:hover {
    background: #1d4ed8;
}

#cancelBtn {
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

#cancelBtn:hover {
    background: #dc2626;
}

.back-home {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 12px;
    background: silver;
    color: white;
    border-radius: 6px;
    padding: 4px 10px;
    text-decoration: none;
}

.back-home:hover {
    background: #a1a1a1;
}
